/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255, 255, 255, 0.9);
}
.parallax-container .section {
  width: 100%;
}

@media only screen and (max-width: 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

.navbar__logo {
  margin: 2px 0 0 5px;
}

.check-number {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.info__svg {
  width: 150px;
  height: 150px;
  margin-left: 10%;
}

.info__img {
  width: 300px;
}

.info__ol  {
  list-style-type: disc;
}

.info__ol > ol  {
  list-style-type: circle;
}

.payment {
  padding: 5px;
  margin-bottom: 2rem;
}
.text__format{
  text-align: justify;
}


@media only screen and (max-width: 600px) {
  #index-banner .section {
    top: 0;
  }
  .info__svg {
    margin-left: 25%;
  }
  .info__img {
    margin-left: 12%;
    width: 200px;
  }
  .info__header{
    margin-left: 10%;
  }
}

@media only screen and (max-width: 320px) {
  .navbar__logo {
    display: none;
  }
}
